@use "../base/variables" as *;
@use "../base/mixins" as *;


.site-header {
    background-color:var(--global-pure-white);
    color:var(--global-primary-text-colour);
    @include spacer(padding-top,1);
    @include spacer(padding-bottom,1);
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:99;

    @include breakpoint(md){
        top:0;
        bottom:unset;
    }

        @media (prefers-color-scheme: dark) { 
            background-color:var(--global-pure-dark);
            color:var(--global-dark-primary-text-colour);
        }

    &__wrapper {
        max-width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        @include spacer(gap,2);

        @include breakpoint(md){
            justify-content:space-between;
        }
    }

    &__nav {
        @include spacer(gap,2);
        display: contents;

        @include breakpoint(md){
            display:flex;
        }

        &-item {
            text-decoration:none;
            color:var(--global-primary-text-colour);
            @include default-transition;

            &:hover, &:active {
                color:var(--global-primary-colour);
            }

            @media (prefers-color-scheme: dark) { 
                color:var(--global-dark-primary-text-colour);

                &:hover, &:active {
                    color:var(--global-secondary-accent-colour);
                }
            }

            svg {
                width:100%;
                height:100%;
                max-width:48px;
                max-height:48px;
                fill:var(--global-primary-text-colour);
                @include default-transition;

                &:hover, &:active {
                    fill:var(--global-primary-colour);
                }

                @media (prefers-color-scheme: dark) { 
                fill:var(--global-dark-primary-text-colour);

                &:hover, &:active {
                    fill:var(--global-secondary-accent-colour);
                }
            }
            }
            

        }

    }

    &__user {
        display:flex;
        align-items:center;
        @include spacer(gap,2);

        &-item {
            color:var(--global-primary-text-colour);
            text-decoration:none;
            @include default-transition;

            &:hover, &:active {
                color:var(--global-primary-colour);
            }

            @media (prefers-color-scheme: dark) { 
                color:var(--global-dark-primary-text-colour);

                &:hover, &:active {
                    color:var(--global-secondary-accent-colour);
                }
            }

            svg {
                width:100%;
                height:100%;
                max-width:48px;
                max-height:48px;
                fill:var(--global-primary-text-colour);
                @include default-transition;

                &:hover, &:active {
                    fill:var(--global-primary-colour);
                }

                @media (prefers-color-scheme: dark) { 
                fill:var(--global-dark-primary-text-colour);

                &:hover, &:active {
                    fill:var(--global-secondary-accent-colour);
                }
            }
            }
        }
    }
}